
<nav class="navbar navbar-expand-sm navbar-toggleable-sm bg-company-red .navbar-light bg-white border-bottom box-shadow">
         
    <a class="navbar-brand"  [routerLink]= "['/movie'] " >Movies</a>  
     <button class="navbar-toggler ml-auto hidden-sm-up float-xs-right" type="button" data-toggle="collapse" data-target="#collapsibleNavbar" aria-controls="navbarSupportedContent"
             aria-expanded="false" aria-label="Toggle navigation">
          <span> <fa-icon icon="bars"></fa-icon></span>
      </button> 
    </nav>

<router-outlet></router-outlet>
